@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Partner/**/*';
@source '../../../../resources/views/filament/partner/**/*';
@source '../../../../resources/views/livewire/**/*';
@source '../../../../app/Livewire/**/*';
